h1::selection {
    color: red;
    background-color: pink;
}

h1::before {
    content: "day la the h1 ";
}

.box {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: 30% 30% 30%;
    text-align: center;
    background-color: aqua;
}

.box__item {
    border: 5px solid rgb(28, 147, 180);
    background-color: red;
}

.item {
    grid-row: 1/3;
}