* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgba(235, 240, 242, 0.541);
}

.container {
    background: linear-gradient(to left, rgb(182, 53, 221), rgb(225, 56, 245), rgb(142, 93, 234), rgb(102, 180, 228), rgb(109, 164, 228), rgb(91, 197, 223));
    margin-top: 40px;
    margin-left: 400px;
    margin-right: 400px;
}

.icon {
    display: flex;
    padding-top: 10px;
}

.box {
    width: 400px;
    height: 650px!important;
    text-align: center;
    margin-left: 180px;
    padding-top: 25px;
    padding-bottom: 25px;
}

.khoi {
    background-color: white;
    height: 600px;
    border: 0;
    border-radius: 20px;
}

.login {
    padding-top: 30px;
}

.username,
.password {
    text-align: left;
    padding-top: 30px;
    padding-left: 20px;
}

hr {
    width: 300px;
}

input {
    border: 0;
    width: 300px;
}

.quenmk {
    padding-right: 78px;
    text-align: right;
}

.submit {
    margin-top: 50px;
    background: linear-gradient(to right, rgb(211, 84, 243), rgb(103, 212, 219), rgb(131, 175, 226), rgb(205, 89, 241));
    width: 280px;
    height: 40px;
    border-radius: 15px;
    color: white;
    border: 1px solid rgb(123, 187, 226);
}

.signup {
    text-align: center;
    padding-top: 60px;
}

.img img {
    margin-top: 30px;
    width: 30px;
    height: 30px;
    border-radius: 15px;
}