* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.checkbox {
    background-color: blue;
    width: 100%;
    height: 100%;
    padding: 50px;
}

.container {
    background-color: white;
    border-radius: 10px;
    padding-left: 30px;
    padding-top: 30px;
    height: 700px;
}

header {
    display: flex;
    margin-top: 30px;
    height: 100px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.logo {
    border-radius: 10px;
    margin-right: 500px;
    border: 2px solid #7c6be1;
    color: #7c6be1;
    font-weight: bold;
    height: 24px;
    font-size: 20px;
}

.menu {
    display: flex;
    justify-content: space-between;
    width: 700px;
}

.menu li {
    color: #7c6be1;
    font-size: 20px;
    height: 40px;
}

.box-mid {
    width: 50%;
    text-align: center;
}

.b1 p {
    font-size: 100px;
}

.b2 p {
    font-size: 50px;
}

.b3 p {
    font-size: 30px;
    padding-bottom: 50px;
}

nav {
    width: 100%;
    background-image: url('Capture.PNG');
    background-position: right;
    background-repeat: no-repeat;
    background-size: 1100px;
    height: 540px;
    border-bottom-right-radius: 10px;
}

.nav-left {
    color: #7c6be1;
    width: 700px;
    padding-left: 50px;
}

.box-top {
    width: 700px;
}

.box-bottom {
    color: white;
    width: 150px;
    height: 50px;
    margin-top: 50px;
    border-radius: 15px;
    background-color: rgb(235, 98, 98);
    margin-left: 90px;
}