* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(61, 159, 184);
}

.container {
    background-color: white;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 303px;
    margin-right: 303px;
    height: 620px!important;
    max-height: 620px!important;
    border-radius: 20px;
}

header {
    padding: 40px;
    display: flex;
    justify-content: space-between;
}

.logo {
    background-color: rgb(252, 253, 250);
    border: 1px solid rgb(124, 121, 163);
    width: 120px;
    height: 35px;
    border-radius: 20px;
    color: rgb(124, 121, 163);
    text-align: center;
    padding-top: 5px;
    font-size: 20px;
}

a {
    text-decoration: none;
}

.header-menu {
    list-style-type: none;
    display: flex;
    width: 400px;
    justify-content: space-around;
    color: rgb(210, 206, 229);
}

nav {
    display: flex;
    padding-left: 40px;
}

.nav-content {
    color: rgb(117, 110, 187);
    width: 250px!important;
}

.nav-content-chuthich {
    padding-top: 30px;
}

.nav-content-submit {
    text-align: center;
    margin-left: 82px;
    margin-top: 40px;
    background-color: rgb(250, 94, 94);
    border: 0;
    border-radius: 20px;
    color: white;
    width: 70px;
    height: 25px;
}

.nav-img img {
    text-align: right;
    height: 505px;
    border-radius: 20px;
    width: 100%;
}